@media screen and (min-width: 1024px) {
    #mobile-nav {
        display: none;
    }
    .head-img {
        position: relative;
        left: 90% !important;
    }
    div.p-container {
        position: relative;
        right: 90% !important;
    }
}
