@media screen and (min-width: 320px) {
#mobile-nav {
        display: inline-block !important;
    }
    .mobile-nav {
        list-style-type: none !important;
        text-align: center !important;
        font-size: 25px !important;
    }
    .a-link a {
        text-decoration: none !important;
        color: #222;
        position: relative;
        bottom: 5px;
    }
    .a-link {
        padding: 10px 0 0 0;
        border: 0.2px solid #ccc;
        position: relative;
        top: 40px;
        left: 5px;
    }
    .kevin {
        position: relative;
        left: 27px;
    }
    .head-img {
        width: 320px !important;
        height: 190px !important;
        position: relative;
        left: 1%
    }
    .img-responsive {
        width: 320px !important;
        height: 190px !important;
    }
    .p-container {
        position: relative;
        right: 34px !important;
        width: 300px;
    }
    section {
        width: 100% !important;
    }
    html,body {
        margin: 0;
        padding: 0;
        overflow-x: none;
    }

 .navbar {
     display: none !important;
 }
 .footer-kevin {
     font-size: 20px !important;
 }
 .footer-link {
     font-size: 18px !important;
 }
 .contact-link,
 .portfolio,
 .home {
     display: none;
 }
.contact {
    font-size: 17px !important;
}

}
