@media screen and (min-width: 768px) {
    .p-container {
        position: relative;
        right: 30px !important;
        width: 300px;
    }
    .head-img {
        width: 350px !important;
        height: 190px !important;
        position: relative;
        left: 1%
    }
    .col-sm-6 {
        position: relative;
        left: 2% !important;
    }
    #mobile-nav .mobile-nav {
        display: none !important;
    }
    div#mobile-nav {
        display: none !important;
    }
    nav.navbar {
        display: inline !important;
    }
    .back-to-top {
        display: none !important;
    }
    .contact-link,
    .portfolio,
    .home {
        display: inline-block !important;
        padding: 0 20px
    }

}
